.editor-container {
  outline: 2px solid rgb(229, 229, 229);
  border-radius: 7px;
  transition: outline-color 0.2s ease;
  overflow: hidden;
}

.content-editable {
  min-height: 200px;
  padding: 0px 20px 25px 20px;
  outline: none;

  /* TODO: Remove this line (for testing purposes) */
  height: 60dvh;
  overflow-y: scroll;
}
