.editor-container {
  outline: 3px solid #ffddc2;
  border-radius: 7px;
  transition: outline-color 0.2s ease;
  overflow: hidden;
}

.editor-container:focus-within {
  outline-color: #ffddc2;
}

.content-editable {
  min-height: 200px;
  padding: 0px 20px;
  outline: none;
}
