.priority-wrapper {
  width: 100%;
  background-color: yellow;
  margin: 10px;
  position: relative;
}

.priority-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  overflow: scroll;
}

.priority-container--hidden {
  position: absolute;
  left: -9999px;
  top: -9999px;
  visibility: hidden;
  pointer-events: none;
  white-space: none;
}
